@model Me_has_visto.Models.PictureModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PictureUpload</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
